/**
 * Helper SCSS file for generating sprites for the interface.
 */
@import "compass/utilities/sprites/base";

@import "btn-icon/*.png";

.ui-state-default, .ui-widget-content {
//	@include all-btn-icon-sprites;
    .btn-icon-accept{
        @extend .fa;
        @extend .fa-fw;
        @extend .fa-check-circle;
        color:  $success;
    }
    .btn-icon-accept_disabled{
        @extend .fa;
        @extend .fa-fw;
        @extend .fa-check-circle;
    }
    .btn-icon-add{
        @extend .fa;
        @extend .fa-fw;
        @extend .fa-plus-circle;
        color:  white;
    }
    .btn-icon-add_disabled{
        @extend .fa;
        @extend .fa-fw;
        @extend .fa-plus-circle;
    }
    .btn-icon-addpage{
        @extend .fa;
        @extend .fa-fw;
        @extend .fa-plus;
        color:  white;
    }
    .btn-icon-addpage_disabled{
        @extend .fa;
        @extend .fa-fw;
        @extend .fa-plus;
    }
    .btn-icon-arrow-circle-135-left{
        @extend .fa;
        @extend .fa-fw;
        @extend .fa-undo;
        color:  $info;
    }
    .btn-icon-arrow-circle-double{
        @extend .fa;
        @extend .fa-fw;
        @extend .fa-refresh;
        color:  $info;
    }
    .btn-icon-back{
        @extend .fa;
        @extend .fa-fw;
        @extend .fa-arrow-circle-left;
        color:  $info;
    }
    .btn-icon-addMedia{
        @extend .fa;
        @extend .fa-fw;
        @extend .fa-plus-square;
        color:  white;
    }
    .btn-icon-back_disabled{
        @extend .fa;
        @extend .fa-fw;
        @extend .fa-arrow-circle-left;
    }
}

$icon24: sprite-map("menu-icons/24x24/*.png");
$icon16: sprite-map("menu-icons/16x16/*.png");

//$btn-icon: sprite-map("btn-icon/*.png", $spacing: 10px);
$sprites32: sprite-map("sprites-32x32/*.png", $spacing: 10px);
$sprites64: sprite-map("sprites-64x64/*.png", $spacing: 10px);

.icon {
	&.icon-assetadmin {
		@extend .fa;
		@extend .fa-file;
	}
	&.icon-cmsmain {
		@extend .fa;
		@extend .fa-eraser;
	}
	&.icon-cmspagescontroller {
		@extend .fa;
		@extend .fa-bookmark;
	}
	&.icon-cmssettingscontroller {
		@extend .fa;
		@extend .fa-cogs;
	}
	&.icon-securityadmin {
		@extend .fa;
		@extend .fa-key;
	}
	&.icon-reportadmin {
		@extend .fa;
		@extend .fa-database;
	}
	&.icon-alertsleftandmain {
		@extend .fa;
		@extend .fa-exclamation-triangle;
	}
	&.icon-commentadmin {
		@extend .fa;
		@extend .fa-comment;
	}
	&.icon-help {
		@extend .fa;
		@extend .fa-question-circle;
	}

	
	&.icon-24 { 
		@extend .fa-fw;
		@extend .fa-2x;
	}
	
	&.icon-16 {
		@extend .fa-fw;
		@extend .fa-lg;
	}
}
