@import "bower_components/bootstrap/less/bootstrap.less";
@import "bower_components/fontawesome/less/font-awesome.less";

@fa-font-path:          "../assets/fonts";
@icon-font-path:        "../assets/fonts";

@odd-bg:                #FAFAFA;
@even-bg:               #222;
@brand-blue:            rgb(0,150,255);
@navbar-height:         51px;
@border-radius-base:    0px;
.navbar-inverse{
    border-color: @even-bg;
    margin: 0px;
}
.nav{
    li{
        a{
            p{
                margin: 0px !important;
            }
        }
    }
    li.active{
        a{
            p{
		padding-bottom: 2px;
                border-bottom: 2px solid @brand-blue;
            }
        }
    }
}
.navbar-brand {
    padding: 1px 0px;
}    

.image-padding {
    padding: 5px;
    background: white;
    height: 250px;
    img {
        max-width: 100%;
        max-height: 250px;
    }
}
.content{
    width:   100%
    margin:  0px;
    padding: 0px;
}
.section-row{
    width:   100%;
    h2{
        text-align: center;
    }
    hr{
        display: block; 
        height: 1px;
        border: 0; 
        margin: 35px 0; 
        padding: 0;
        border-top: 1px solid @even-bg;
    }
    &.odd {
        background: @odd-bg;
        color:      @even-bg;
        hr{
            border-color: lighten(@even-bg, 5%);
        }
    }
    &.even{
        background: @even-bg;
        color:      @odd-bg;
        hr{
            border-color: lighten(@odd-bg, 10%);
        }
    }
}

.dots{
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(84,84,84,0) 67%, rgba(0,0,0,0.83) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(67%, rgba(84,84,84,0)), color-stop(100%, rgba(0,0,0,0.83)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(84,84,84,0) 67%, rgba(0,0,0,0.83) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(84,84,84,0) 67%, rgba(0,0,0,0.83) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(84,84,84,0) 67%, rgba(0,0,0,0.83) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(84,84,84,0) 67%, rgba(0,0,0,0.83) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=1 );
    span{
        text-align: right;
        color: @brand-blue;
        i{
            text-align: right;
            color: @brand-blue;
        }
    }
}