@import "../bootstrap/assets/stylesheets/_bootstrap.scss";
@import "../bootstrap/assets/stylesheets/_bootstrap-compass.scss";
@import "../bootstrap/assets/stylesheets/_bootstrap-sprockets.scss";
@import "../bootstrap/assets/stylesheets/_bootstrap-mincer.scss";
@import "../fontawesome/scss/font-awesome.scss";

$border-radius-base: 0px;
$icon-font-path:        "/mysite/fonts";
$fa-font-path: 			"/mysite/fonts/fontawesome";
$sidebar: #555555;

$dark-text: #222222;

$tool-sidebar: lighten($sidebar, 50%);
.nav-pills>li>a{
    border-radius: 0px;
    color: white;
    &:hover{
    	color: $dark-text;
    }
}

.tool-sidebar .nav-pills>li>a{
    border-radius: 0px;
    color: $dark-text;
}

.bottom{
	position: absolute;
	bottom: 0;
	&.full-width{
		left: 0;
		right: 0;
	}
	
}
.tool-sidebar{
	width: 200px;
	position: fixed;
	top: 51px;
	left: 200px;
	bottom: 0px;
	background: $tool-sidebar;
	overflow: hidden;
}
.with-tools{
	&.min{
		.tool-sidebar{
			width: 50px;
		}
		.inner-offset-left{
			margin-left: 50px;
		}
		.no-show-min{
			display: none;
		}
		.rotate-min{
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			writing-mode: lr-tb;
		}
		.cms-panel-content{
			a{
				span{
					display: none;
				}
			}
		}
	}
}
.sidebar{
    width: 200px;
    position: fixed;
    background: $sidebar;
    top: 0px;
    bottom: 0px;
    left: 0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    .header{
      	width: 100%;
        background: #333;
        display: inline-block;
        color: white;
        padding-top: 8px;
        min-height: 51px;
    }
}
body.min{
    .media-body{
        display: none;
    }
    .media-left.media-middle{
        width: 50px !important;
    }
   .sidebar{
        width: 50px;
   }
   .tool-sidebar{
		left: 50px;
   	}
    .offset-left{
        margin-left: 50px;
    }
    .nav{
        span{
            display: none;
        }
    }
    .login{ 
        span{
            display: none;
        }
    }
}

.tab-content{
	padding-top: 10px;
	padding-bottom: 10px;
}

.cms-content{
	padding-top: 51px;
	padding-bottom: 51px;
}

.offset-left{
    margin-left: 200px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.inner-offset-left{
	margin-left: 200px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.login{
    a{
       color: white; 
    }
    color: white;
}


/*Tree Styles*/

.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    li {
        list-style-type:none;
        margin:0;
        padding:10px 5px 0 5px;
        position:relative;
        &:before, &:after {
            content:'';
            left:-20px;
            position:absolute;
            right:auto;
        }
        &:before {
            border-left:1px solid #999;
            bottom:50px;
            height:100%;
            top:0;
            width:1px;
        }
        &:after {
            border-top:1px solid #999;
            height:20px;
            top:25px;
            width:25px;
        }
        span {
            -moz-border-radius:5px;
            -webkit-border-radius:5px;
            border:1px solid #999;
            border-radius:5px;
            display:inline-block;
            padding:3px 8px;
            text-decoration:none;
        }
        &.parent_li{
            > span{
                cursor: pointer;
                &:hover, &:hover+ul li span{
                    background:#eee;
                    border:1px solid #94a0b4;
                    color:#000;
                }
            }
        }
    }
    >ul{
        >li{
            &:before, &:after{
                border: 0;
            }
        }
    }
    li{
        &:last-child{
            &:before{
                height: 30px;
            }
        }
    }
}   

li{
	&.class-HomePage > a .jstree-pageicon{
    	@extend .fa;
    	@extend .fa-fw;
		@extend .fa-home;
	}
	
	&.class-ContentPage > a .jstree-pageicon{
    	@extend .fa;
    	@extend .fa-fw;
    	@extend .fa-file;
	}
	&.class-GalleryPage > a .jstree-pageicon{
    	@extend .fa;
    	@extend .fa-fw;
		@extend .fa-camera-retro;
	}
	&.class-GalleryHolder > a .jstree-pageicon{
    	@extend .fa;
    	@extend .fa-fw;
		@extend .fa-photo;
	}
	&.class-FormPage > a .jstree-pageicon{
    	@extend .fa;
    	@extend .fa-fw;
		@extend .fa-pencil-square;
	}
	&.class-FormHolder > a .jstree-pageicon{
    	@extend .fa;
    	@extend .fa-fw;
		@extend .fa-text;
	}
	&.class-ErrorPage > a .jstree-pageicon{
    	@extend .fa;
    	@extend .fa-fw;
		@extend .fa-exclamation-triangle;
	}
	&.class-Blog > a .jstree-pageicon{
    	@extend .fa;
    	@extend .fa-fw;
		@extend .fa-comments;
	}
}